In [2]:
import pickle
import pandas as pd

col0 = []; col1 = []; col2 = []
df = pd.read_csv('../gettingstarted/media/hello/df.csv', parse_dates=["date"], index_col="date")

for i in range(df.shape[0]):
    col0.append(str(df.index[i])); col1.append(df.iloc[i]['light_theory']); col2.append(df.iloc[i]['light_practice'])    
(col0, col1, col2)

(['2018-12-01 00:00:01', '2018-12-01 00:00:02', '2018-12-01 00:00:03'],
 [51.4, 52.4, 53.4],
 [101.0, 102.0, 103.0])

In [3]:
df.head()

                     activity  pred6h
date
2018-12-01 00:00:01      51.4   101.0
2018-12-01 00:00:02      52.4   102.0
2018-12-01 00:00:03      53.4   103.0

In [15]:
df.iloc[0]['activity'] += 1
df

                     activity  pred6h
date
2018-12-01 00:00:01      60.4   101.0
2018-12-01 00:00:02      52.4   102.0
2018-12-01 00:00:03      53.4   103.0

In [17]:
df.to_csv('../gettingstarted/media/hello/df2.csv')